<div class="row text-center py-3">
    <div class="col-sm">
      <select
        id="sel"
        class="form-select form-select-md mb-3"
        aria-label=".form-select-lg example"
        name="wilaya"
        required

      >
        <option value="">إختر الولاية</option>
      </select>
    </div>
    <div class="col-sm">
      <select
        id="sel1"
        class="form-select form-select-md mb-3"
        aria-label=".form-select-lg example"
        name="commun"
        required
        
      >
        <option value="">إختر البلدية</option>
      </select>
    </div>
    <div class="col-sm">
     
      
      <select
        id="sel2"
        class="form-select form-select-md mb-3"
        aria-label=".form-select-lg example"
        name="zomra"
        required

      >
        <option value="">إختر الزمرة</option>
        <option value="+O">+O</option>
        <option value="-O">-O</option>
        <option value="+A">+A</option>
        <option value="-A">-A</option>
        <option value="+AB">+AB</option>
        <option value="-AB">-AB</option>
        <option value="+B">+B</option>
        <option value="-B">-B</option>
      </select>
    </div>
  </div>