body {
  font-family: "Almarai", sans-serif !important;
}

.card {
  border: none !important;
  box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.068);
  border-radius: 10px;
}
.card-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}
.btn{
  border-radius: 25px;
}
input {
  border: none !important;
  box-shadow: 0px 0px 3px 0px #0000003d;
  border-radius: 20px !important;
}
.form-select-md {
  border: none !important;
  box-shadow: 0px 0px 3px 0px #0000003d;
  width: 70%;
  border-radius: 20px;
  cursor: pointer;
}
#avatr {
  width: 15%;
 
  border-radius: 50%;
  
}
.navbar-toggler{
  border:none !important;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;
}

@media (max-width:550px) {
  /* #landing{
    background-image: url('./img/img.svg') !important;
    background-repeat: no-repeat !important;
    background-size:cover !important;
  } */
  .card{
    width: 85%;
    margin: 0 auto;
  }
  .form-select{
    margin: 0 auto;
    width: 92%;
  }
  #result{
    left: 8% !important;
    width: 98%  !important;

  }
  .row div.guid{
    border: 1px solid;
    border-color: white transparent;
}
#e-mail{
  margin-top: 20px !important;
}
}
  

#result {
  
  width: 100%;
  max-height: 250px;
  margin-top: -35px;
  margin-right: -5%;
  cursor: pointer;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 200;
   
 }
 ul.list-group .list-group-item{
  border-color: transparent #0000000f #0000000d;
}


 .link-class:hover{
  background-color:#f1f1f1;
 }
 #result::-webkit-scrollbar {
  width: 5px;
  
}
 
#result::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(163, 160, 160, 0.3);
  

}
 
#result::-webkit-scrollbar-thumb {
  background-color: #dc3545;
  outline: 1px solid #dc3545;
  border-radius:15px;
}
body::-webkit-scrollbar {
  width: 5px;
  
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(163, 160, 160, 0.3);
  

}
 
body::-webkit-scrollbar-thumb {
  background-color: #dc3545;
  outline: 1px solid #dc3545;
  border-radius:15px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}
.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #d40b0b;
  color: #d40b0b;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}
.swiper-button-prev , .swiper-button-next{
  display: none;
}
.swiper-pagination-bullet,.swiper-pagination-bullet-active{
background-color: #d40b0b !important;
}
#img-no-found{
  width: 50% ;
  margin: 0 auto ;
  display: none;
}
.searchGroup{
  display: flex;
    flex-direction: column;
}